{% extends 'base_back.html.twig' %}

{% block body %}
    <h1> Fidelite id :{{fidelite.id}}</h1>
    <h2>Les points:{{fidelite.points}}</h2>
    <h3>id de l'utilisateur:{{fidelite.utilisateur.id}}</h3>
{% endblock %}
