{% extends 'base_front.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}


          <h1>Les produits</h1>


      <div class="row">


          {% for produit in produits %}
              <div class="col-4 mt-4">
                  <div class="border border-dark rounded p-2 clearfix">
                      <h2>
                          {{ produit.nom }}

                          {{ produit.prix }}
                          Dinar
                      </h2>
                      <td><img src ="{{ asset('uploads/images/' ~ produit.image) }}"
                               alt =""  width="100" height="100"></td>
                      <hr>
                      <a href="{{ path('cart_add',{'id': produit.id}) }}" class="btn btn-success float-right">
                          <i class="fas fa-shopping-cart mr-1"></i>
                          Ajouter
                      </a>
                  </div>

              </div>
          {% endfor %}

      </div>


  {% endblock %}
