{% extends "base_back.html.twig" %}

{% block body %}
    <h1>{{ form_title }}</h1>
    {{ form_start (form_article,{'attr':{'novalidate':'novalidate'}}) }}
    {{ form(form_article) }}

{% endblock %}
