{% extends 'base_front.html.twig' %}

{% block title %}Contactez nous{% endblock %}



{% block body %}
    <h1>new message</h1>


    {{ form_start(contactForm) }}

    {{ form_widget(contactForm) }}



    {{ form_end(contactForm) }}


{% endblock %}
